{% extends 'base.html.twig' %}

{% block title %}Anim'Avord{% endblock %}

{% block body %}
    <style>
        .h1{

        }
        .bandeau_bleu{
            background-color: lightblue;
        }

        .arrange{
            display: flex;
            justify-content: space-between;
        }

        .basdepage{
            background-color: lightgrey;
            font-weight: bold;
            text-align: center;
        }
    </style>

    <h1 class="bandeau_bleu; arrange"><a href="/">Accueil</a><a href="/evenement/list">Evènements</a><a href="/decoration/list">Décorations</a> 
        <img src={{asset('Pics/large.png')}}  height="100" width="300"/> <a href="/animation/list">Animations</a>
        <a href="/spectacle/list">Spectacles</a><a href="/connexion">Connexion</a>
    </h1>
    
    <div></div>

    <div class="bandeau_bleu">
        <div  class="arrange">
            <img src={{asset('Pics/logo-Avord.png')}}  height="100" width="350"/>
            <img src={{asset('Pics/label.jpg')}}  height="100" width="200"/>
            <b>Suivez-nous:</b>
            <img src={{asset('Pics/fb.jpg')}}  height="100" width="100"/>
        </div>
        <div><a href="/contact">Contact</a><a href="/espace_presse">Espace presse</a><a href="mentions_legales/">Mentions légales</a>
            <a href="cgu/">Conditions générales d'utilisation</a><a href="pol_cookies/">Politique cookies</a>
            <a href="/gest_cookies">Gestion cookies</a><a href="/ppd">Politique de protection des données</a>
        </div>
    </div>

    <footer class="basdepage">@2021 - Tous droits réservés - Anim'Avord</footer>
    
{% endblock %}
