{% extends 'base.html.twig' %}

{% block title %}Détail activité{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{activite.Titre}}</h1>
    <p>Du: {{activite.Debut|date('d/m/Y')}} au: {{activite.Fin|date('d/m/Y')}}</p>
    <p>Description:</p>
    <p>{{activite.Description}}</p>

    <a href="/activite/list"><button>Retour</button></a>
    
</div>
{% endblock %}