{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <style>
        .bandeaubleu{background-color:lightblue;margin-left:auto;margin-right:auto;}
        .basdepage{font-weight:bold;text-align:center;font-size:20px;}
    </style>

    <div class="container-fluid">
        <h1 class="bandeaubleu">
            <ul class="nav justify-content-between">
                <li class="nav-item"><a href="/">Accueil</a></li>
                <li class="nav-item"><img src={{asset('Pics/large.png')}} height="100" width="300"/></li>
                <li class="nav-item"><a href="/Logout">Déconnexion</a></li>
            </ul>
        </h1>
    </div>


    <div class="container-fluid">
        <h3 class="row text-center">
            <div class="col">
                <a href="/activite/list">Activités</a>
            </div>
        </h3>
        <h3 class="row text-center">
            <div class="col">
                <a href="/">Loterie</a
            </div>
        </h3>
        <h3 class="row text-center">
            <div class="col">
                <a href="/utilisateur/list">Utilisateurs</a>
            </div>
        </h3>
    </div>

    <div class="container-fluid">
        <footer class="basdepage border-top border-3">@2021 - Tous droits réservés - Anim'Avord</footer>
    </div>
{% endblock %}
